select {
    width: 150px;
}

.inline_form {
    display: inline-block;
}

.button_as_link {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    font-weight: bold;
    border-bottom: 1px solid #444;
    cursor: pointer;
}

.gray_text {
    color: darkgray;
}

.underline_text {
    text-decoration: underline;
}

.full_news_message {
    min-height: 78%;
}

.comment_text {
    background: lavender;
    height: 70px;
}

.news_message {
}

.news_list {
    padding: 2%;
}

.pages {
    display: flex;
    justify-content: center;
}

.next_prev_navigation {
    margin: 0;
    padding: 0;
    align-items: center;
    bottom: 3%;
}

.previous_button {
    margin: 0;
    padding: 0;
    display: inline-block;
}


.next_button {
    margin: 0;
    padding: 0;
    display: inline-block;
    float: right;
}

header {
    border: 1px solid black;
    height: 15%;
    width: 100%;
}

main {
    width: 100%;
    min-height: 78%;
    border-right: 1px solid black;
    border-left: 1px solid black;
    margin: 0;
}

body {
    height: 100%;
}

footer {
    border: 1px solid black;
    height: 5%;
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}