
body {
    height: 100%;
}

header {
    border: 1px solid black;
    height: 15%;
    width: 100%;
}

aside {
    float: left;
    margin: 15px;
}

section {
    margin: 0;
    width: 80%;
    float: right
}

footer {
    border: 1px solid black;
    height: 5%;
    flex: 0 0 auto;
    width: 100%
}

.main_div {
    width: 100%;
    min-height: 78%;
    display: inline-block;
    border-right: 1px solid black;
    border-left: 1px solid black
}

.tag_form button {
    visibility: hidden;
}

.tag_form {
    margin-left: 23%;
}

.author_form button {
    visibility: hidden;
}

.author_form {
    margin-left: 23%;
}

.add_news_form {
    margin-left: 25%;
}

.title_input {
    width: 100px;
}

.inline_block_form {
    display: inline-block;
}

.button_as_link {
    background: none !important;
    border: none;
    padding: 0 !important;
    font: inherit;
    font-weight: bold;
    border-bottom: 1px solid #444;
    cursor: pointer;
}

.news_list {
    margin-left: 20%;
    height: 80%;
}

.view_news {
    min-height: 80%;
}

.edit_button {
    background-image: url("edit_5342.png");
}

.dark_gray_text {
    color: darkgray;
}

.underline_text {
    text-decoration: underline;
}

.comment_area {
    background: lavender;
    height: 70px;
}

.pages {
    position: absolute;
    align-items: center;
    bottom: 3%;
}

.right_float {
    float: right;
}

.login_form{
    margin-left: 26%;
}

.error_message {
    color: darkred;
}

select {
    width: 150px;
}

textarea {
    resize: both;
    width: 300px;
    height: 100px;
}